#imagenpr{margin-left:200px;margin-top: 50px;}
.ab{text-align: center; color: red; font-size: 60px; background-color: black;}
.con-jug{display:flex;gap: 50px; ;background-color: red;padding: 30px;margin-left: 300px;margin-right: 350px;}
body{background-color: black; }
#gemas{display: flex; gap: 50px; margin-left: 300px;}
#div-principal{display: grid; grid-template-columns: 1fr 1fr 600px}
#div-1{display: grid;grid-row: 1fr 1fr 1fr 1fr;gap: 30px;margin-left: 30px;}
#div-3{display:grid ;grid-template-columns: 1fr 1fr;margin-left: 50px;}
#div-4{display: grid;grid-row: 1fr 1fr 1fr 1fr; margin-right: 30px;}
#div-5{display: grid; grid-row: 1fr 1fr 1fr;color: white; }
h2{color: white;font-size: 10px;color: red;}
h3{color: white; font-size: 20px;color: red;}
#k{display: grid;grid-template-rows: 1fr 1fr 1fr 1fr;}
.iq{display: flex;gap: 10px;}
.a-on{color: white;}